@import "./variables";

.blogSectionContainer {
  margin-top: -40vh;
  margin-bottom: 10vh;
  z-index: 2000;
  .blogSectionWrapper {
    width: 75%;
    max-width: var(--max-width);

    .firstLayer,
    .secondLayer,
    .thirdLayer {
      @include flexprop(column, center, center);
      padding: var(--p-padding);
      margin-bottom: var(--xs-margin);
      border-bottom: var(--card-border-lt);
      .blogSectionLinks {
        text-decoration: none;
        color: #1a1b1e;
      }
      p {
        margin-top: var(--xs-margin);
      }
      h3 {
        margin-top: 2rem;
      }
      h3:hover,
      h3:focus {
        transform: scale(1.1);
      }
      box-shadow: var(--m-box-shadow);
      border-radius: var(--m-border-radius);
      background-color: var(--card-bg);
    }
    .thirdLayer {
      h2 {
        margin: 1.2rem 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .blogSectionWrapper {
    width: 90% !important;
    .firstLayer,
    .secondLayer,
    .thirdLayer {
      .blogSectionLinks {
        h3 {
          margin-top: 0.5rem;
        }
      }
      h3 {
        margin-top: 2rem;
      }
      h3 {
        font-size: 1.4rem;
        margin: var(--xxs-margin) 0;
      }
    }
  }
}
