@import "./variables";

.blogSectionContainer {
  margin-bottom: -50vh;
  z-index: 2000;
  .blogSectionWrapper {
    width: 80%;
    max-width: var(--max-width);

    .firstLayer,
    .secondLayer,
    .thirdLayer {
      @include flexprop(column, center, center);
      background-color: var(--card-bg) !important;
      padding: var(--p-padding);
      margin-bottom: var(--xxs-margin);
      .blogSectionLinks {
        text-decoration: none;
        color: #1a1b1e;
      }
      p {
        margin-top: var(--xs-margin);
      }
      h3 {
        margin-top: 2rem;
        font-weight: 900;
      }
      box-shadow: var(--m-box-shadow);
      border-radius: var(--m-border-radius);
      background-color: var(--card-bg);
    }
    .thirdLayer {
      h2 {
        margin: 1.2rem 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .blogSectionWrapper {
    .firstLayer,
    .secondLayer,
    .thirdLayer {
      h3 {
        font-size: 1.4rem;
        margin: var(--xxs-margin) 0;
      }
    }
  }
}
