.loadingContainer {
  height: 100vh;
  width: 100%;
  background: rgb(242, 242, 245);
  background: linear-gradient(
      40deg,
      rgb(163, 250, 207),
      rgba(93, 134, 207, 0) 70%
    ),
    linear-gradient(80deg, rgb(27, 191, 219), rgba(237, 238, 232, 0) 70%),
    linear-gradient(120deg, rgb(33, 124, 235), rgba(54, 107, 171, 0) 70%),
    linear-gradient(160deg, rgb(223, 56, 235), rgba(182, 48, 192, 0) 70%),
    linear-gradient(160deg, rgb(52, 14, 54), rgba(182, 48, 192, 0) 70%),
    linear-gradient(300deg, rgb(236, 35, 35), rgba(182, 48, 192, 0) 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loading {
    color: rgb(243, 242, 242);
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    transform: transition 1s all;
    animation: flicker 2s infinite ease-in-out;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .loadingContainer .loading {
    font-size: 0.7rem;
  }
}
